body{
  background-color: white;
  background-size: cover;

}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.sneakers{
  color: black;
  text-align: center;
  font-family: 'Pacifico', cursive;
}

.cart{
  text-align: center;
  font-family: 'Pacifico', cursive;
}
.nav3 {
  padding-left: 70px;
  float: left;
}

.nav3:hover{
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}

.nav-bar {
  background-color:white;
  font-family: 'Pacifico', cursive;
  width: 100%;
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background:
  radial-gradient(black 15%, transparent 16%) 0 0,
  radial-gradient(black 15%, transparent 16%) 8px 8px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;
}

.nav-bar a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  margin-right: 50px;

}

.nav-bar a:hover {
  color: red;
}

.nav-bar h1 {
  color: white;
  margin-left: 25px;
  cursor: pointer;
}

.nav-bar h1:hover{
  color:red;
}
